body {
  background-color: lightgrey;
}

#table {
    width:600px;
    height:450px;
    overflow:scroll;
    float: left;
}

.line{
    fill:none;
    stroke: black;
    stroke-width: 2px;

}


.graphs{
    width:600px;
    height: 450px;
    margin: 0 auto;
    float:right;
}



